body {
    /*background-color: #4b5563;*/
    background-color: #9ca3af;
}
.home-background {
    background-color: #9ca3af;
}
.card {
    background-color: #4b5563;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 350px;
    max-height: 400px;
    margin: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-decoration: none;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 30px;
}

.card h3 {
    margin: 8px;
    font-size: 24px;
    text-align: center;
}

.card p {
    margin: 8px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: -110px auto;
    max-width: 1024px;
    padding: 16px;
    transform: scale(0.75);
}

.card-column {
    display: flex;
    width: 100%;
}

@media (max-width: 768px) {
    .card-column {
        width: 100%;
    }
}

.card img {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}