.minesweeper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
}

.settings-menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    background-color: #ddd;
}

.board-size-options {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 3px solid #ccc;
    background-color: #222;
    margin-bottom: 20px;
}

.cell {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #222;
    cursor: pointer;
    background-color: #ddd;
    /* Add the following styles */
    background-image: linear-gradient(to bottom right, #bbb, #eee);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.cell.covered {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-image: none;
    background-color: #444;
}

.cell.revealed {
    background-color: #777;
}

.cell.flagged {
    /*background-color: #f00;*/
}

.timer {
    margin-bottom: 10px;
}

.flag-counter {
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-size-options button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
}

.board-size-options button:hover {
    background-color: #ddd;
}

.board-size-options button:active {
    background-color: #ccc;
}

.board-16x16 {
    width: 530px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    border: 1px solid #ccc;
    background-color: #eee;
}

.board-30x16 {
    width: 980px;
}

.cell.has-mine::before {
    content: "\1F4A3"; /* bomb emoji */
}

.cell.flagged::before {
    content: '🚩'; /* flag emoji */
}